#tip {
    font-family: Arial, Verdana;
    font-size: 13px;
    margin: 10px;
}
#tip a {
    color: #2A5DB0;
    float: right;
    text-decoration: underline;
}
.copy_fail {
    color: #CC0000;
}
.copy_success {
    color: #006600;
}