body {
    font-family: Arial, Verdana;
    font-size: 12px;
    min-width: 140px;
    overflow: visible;
    width: auto;
}
#loadDiv {
    color: #3D5D6A;
    display: none;
    font-family: Verdana, simsun;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 20px;
    text-align: center;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
li {
    border: 1px solid #FFF;
    cursor: pointer;
    list-style: none;
    margin: 0px;
    padding: 0px;
    clear: both;
    overflow: hidden;
}
li:hover {
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0, #FFF),  color-stop(0.4, hsl(215, 67%, 97%)),
    color-stop(0.41, hsl(213, 48%, 95%)));
    border: solid 1px #C5CDD3;
    border-radius: 3px 3px;
}
#copyAnchor {
    background-image: url('../images/copy_anchor.png');
}
#copyBBCode {
    background-image: url('../images/copy_bbcode.png');
}
#copyEncodedUrl {
    background-image: url('../images/copy_encoded.png');
}
#copyShortUrl {
    background-image: url('../images/copy_short.png');
}
#copyUrl {
    background-image: url('../images/copy_url.png');
}
#ieTab {
    background-image: url('../images/explorer-16.png');
}
#ieTabItem {
    background: white;
    border: none;
    border-bottom: 1px dashed #C5CDD3;
    cursor: default;
    display: none;
    margin-bottom: 2px;
}
#ieTabItem:hover {
    border-radius: 0;
}
.menu {
    background-position: 6px 5px;
    background-repeat: no-repeat no-repeat;
    background-size: 16px;
    color: #3D5D6A;
    float: left;
    line-height: 26px;
    text-indent: .5em;
    white-space: nowrap;
}
.text {
    float: left;
    margin-left: 26px;
}
.shortcut {
    color: #A1A192;
    display: none;
    float: left;
    margin-left: 26px;
}